body, html {
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
}

a {
  color: black;
}

/* Uncomment this block of code below to see the page layout divided into sections and divs as rectangles */

/*
div, section {
  border: 1px solid black;
}
*/

h1 {
  padding: 30px;
}

section {
    padding: 0 3em 3em 3em;
}

/* Navbar */

.navbar {
  margin-bottom: 0;
}

.navbar-inverse {
  background-color: #597896;
}

          /* navbar text override */
.navbar-inverse .navbar-brand {
  font-size: 1.3rem;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
  color: #f1eeee;
}

.navbar-inverse .navbar-brand::first-letter {
  color: #800003;
  font-size: 1.5rem;
}

/* Jumbotron */

.jumbotron {
  margin: 0;
}

.jumbotron p {
  font-style: italic;
  margin-bottom: 0;
}

.jumbotron h1::first-letter {
  color: #800003;
  font-size: 4rem;
}

.btn {
  background-color: darkorange;
  font-style: normal;
  font-weight: bolder;
  letter-spacing: 2px;
}

/* Skills Section */

h3 {
  font-weight: bold;
}

/* Portfolio Section */

#portfolio {
  background-color: #eee;
}

.inProgress {
  text-decoration: line-through;
}

.row img {
  margin: 20px 0;
}

/*Contact Section*/

.contact {
  padding: 1em;
}

/* Footer */

footer {
  background: #597896;
  color: #f1eeee;
  padding: .6em;
}
